.date-Input {
  display: inline;
  width: 80%;
}

.tim-icons.icon-simple-remove {
  color: #f6a821 !important;
  padding: 0 10px;
  font-size: 13pt;
  font-weight: bold;
}

.zmdi {
  padding-right: 8px;
  color: #f6a821;
}
