.date-Input {
  display: inline;
  width: 80%;
}

mat-datepicker-toggle {
  color: #f6a821;
}

.rounded-border {
  display: inline;
  border-radius: 0.2857rem;
}

.image-mini {
  height: 30px;
  width: 30px;
  margin: 0 5px;
}
