<div class=" content">
  <h2>Performance</h2>
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title" *ngIf="startDate">Performance de {{startDate | date: 'MMM YYYY'}}</h4>
          <h4 class=" card-title" *ngIf="!startDate">Performance desde siempre</h4>
        </div>
        <div class=" card-body">
          <label>Filtrar por Mes</label>
          <div class="col-md-3">
            <input [matDatepicker]="picker1" placeholder="Mes" [(ngModel)]="startDate" class="form-control date-Input">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 startView="multi-year" (monthSelected)="closeDatePicker($event, picker1)"></mat-datepicker>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Mejores Productos</h5>
          <h3 class=" card-title">
            <i class="zmdi zmdi-favorite text-danger-states"> </i> {{bestSale | currency}}
          </h3>
        </div>
        <div class=" card-body" style="min-height: 400px">
          <div class=" row">
            <div class=" col-md-6">
              <div class=" chart-area"><canvas id="chartPie"> </canvas></div>
            </div>
            <div class="col-md-6">
              <div class=" table-responsive">
                <table class=" table tablesorter" id="">
                  <thead class=" text-primary">
                  <tr>
                    <th>#</th>
                    <th>Titulo</th>
                    <th class="th-number">Ventas</th>
                    <th class="th-number">Performance</th>
                    <th class="th-number">%</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let performance of performances">
                    <td>
                      <div class="image-container">
                        <img class="image-mini rounded-border" style="background-color: {{performance.colorHex}}">
                        <img src="{{performance.image}}" class="sc-list-item-row-picture__single-item image-mini">
                      </div>
                    </td>
                    <td class="td-name td-large">
                      <label>{{performance.title}}</label>
                    </td>
                    <td class="td-number">
                      {{performance.count}}
                    </td>
                    <td class="td-number">
                      {{performance.totalProfit | currency}}
                    </td>
                    <td class="td-number">
                      {{100*performance.totalProfit/totalSale | number: '1.1-1'}}%
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
