.ui-search-layout--stack .ui-search-result .ui-search-price__second-line__label .ui-search-icon-loyalty {
  margin-right: 4px;
}

.success {
  color: #2dce89 !important;
}

.ui-search-icon-loyalty {
  width: 16px;
  height: auto;
  fill: #39b54a;
  max-height: 16px;
}

.tim-icons.icon-credit-card {
  color: #f6a821 !important;
}

.zmdi {
  padding-right: 8px;
  color: #f6a821;
}

.zmdi.action-icon {
  padding-right: 8px;
  color: #00f2c3 !important;
}

.btn.dropdown-toggle[data-toggle=dropdown]:after {
  content: "";
  margin-left: 5px !important;
}

.little-text {
  font-size: 10px;
}

.btn-simple-link{
  padding: 4px 8px;
}

td {
  min-width: 92px;
}

.td-large {
  min-width: 120px;
}

.td-center {
  text-align: center;
}

.td-number {
  text-align: right;
}

.th-number {
  text-align: right;
}

.dark-modal .modal-content {
  background-color: #27293d;
  color: white;
}

.dark-modal .modal-title {
  color: white !important;
}
.dark-modal .close {
  color: white;
}

.card-title.alert {
  display: flex;
}

.card-title {
  img {
    width: 40px;
    height: 40px;
  }
}

.alert-title {
  margin-left: 20px;
}

.table .form-check {
  margin-top: 0 !important;
}

td.form-check {
  min-width: 0px !important;
}

td.action {
  min-width: 0px !important;
}
