
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Stock</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>#</th>
                  <th>Info</th>
                  <th>Stock</th>
                  <th>Ventas</th>
                  <th>Costo</th>
                  <th>Precio</th>
                  <th>Fecha</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items">
                  <td>
                    <div class="image-container">
                      <img src="{{item.thumbnail}}" class="sc-list-item-row-picture__single-item">
                    </div>
                  </td>
                  <td class="td-name">
                    <label>{{item.title}}</label>
                    <br/>
                    <small>{{item.id}}</small>
                  </td>
                  <td class="td-number">{{item.available_quantity}}</td>
                  <td class="td-number">{{item.sold_quantity}}</td>
                  <td>{{item.cost | currency}}</td>
                  <td>{{item.price | currency}}</td>
                  <td>{{item.start_time | date}}</td>
                  <td>{{item.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
