.ui-search-layout--stack .ui-search-result .ui-search-price__second-line__label .ui-search-icon-loyalty {
  margin-right: 4px;
}

.ui-search-icon-loyalty {
  width: 16px;
  height: auto;
  fill: #39b54a;
  max-height: 16px;
}

.tim-icons.icon-credit-card {
  color: #f6a821 !important;
}

.zmdi {
  padding-right: 8px;
  color: #f6a821;
}

.zmdi.action-icon {
  padding-right: 8px;
  color: #00f2c3 !important;
}

.btn.dropdown-toggle[data-toggle=dropdown]:after {
  content: "";
  margin-left: 5px !important;
}

.little-text {
  font-size: 10px;
}

.btn-simple-link{
  padding: 4px 8px;
}
