
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Stock</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>#</th>
                  <th>Info</th>
                  <th>Stock</th>
                  <th>Costo</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="image-container">
                      <img src="https://http2.mlstatic.com/D_654782-MLA46941220496_082021-I.jpg" class="sc-list-item-row-picture__single-item">
                    </div>
                  </td>
                  <td class="td-name">
                    <label>Pelota de Basquet Sports</label>
                    <br/>
                    <small>SKU Basket sports</small>
                  </td>
                  <td class="td-number">1</td>
                  <td>{{622.25 | currency}}</td>
                  <td>01/08/2021</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
