.ui-search-layout--stack .ui-search-result .ui-search-price__second-line__label .ui-search-icon-loyalty {
  margin-right: 4px;
}

.ui-search-icon-loyalty {
  width: 16px;
  height: auto;
  fill: #39b54a;
  max-height: 16px;
}

.tim-icons.icon-credit-card {
  color: #f6a821 !important;
}

.little-text {
  font-size: 10px;
}
